# Ignore node_modules
client/node_modules
server/node_modules

# Ignore .env files
client/.env
server/.env

# Ignore package-lock.json
client/package-lock.json
server/package-lock.json

# Ignore .DS_Store (for macOS)
.DS_Store

# Ignore build output
dist/
build/

# Ignore log files
*.log
