.dasboard-main {
    background-color: rgb(255, 255, 255) !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 1px; 
    padding: 1px;
  
}

.card-content {
  height: 420px;
  width: 295px;
  border: 2px solid gray;
  display: flex;
  margin: 70px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.card-content:hover {
  cursor: pointer;
  transform: scale(0.9) !important;
  /* You can adjust the scale value as needed */
  background-color: #738f93;
}

.card-content:hover Button {
  background-color: white;
  color: #738f93;
  text-overflow: ellipsis;
}

.sub-cart-content {
  /* display: block; */
  /* margin: 10px; */
  justify-content: center;
}
