.hover-container {
  position: relative;
  height: 375px;
  width: 280px;
  opacity: 1.0;
  cursor: pointer;
}

.hover-container:hover {
  opacity: 1;
}

.hover-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-container:hover .hover-buttons {
  opacity: 1;
}

.paper-hover-effect {
  background: rgba(0, 0, 0, 0.3);
  /* opacity: 0; */
  transition: all 0.25s ease-in-out;
}

.hover-container:hover .paper-hover-effect {
  opacity: 1;
}
